<li class="tab">
  <a class="tab-link" target="_blank" data-url="{{url}}" href="#">
    {{title}}
  </a>
  <div class="controls pull-right">
    <a title="Close this tab" href="#" data-url="{{url}}" class="control close"></a>
  </div>
</li>
