<div class="contextinator-overview contextinator-project {{#if selected}}contextinator-hover{{/if}}" tabIndex=0>
  Projects Overview
  {{#if open}}
    <div title="Close this project" class="contextinator-close">
      <div class="contextinator-close-icon"></div>
    </div>
  {{/if}}
</div>
