<li class="person row" id="person{{id}}">
  <a class="span2" target="_blank" href="#">{{email}}</a>
  <div class="controls">
    <a href="#" data-id="{{id}}" class="control close"></a>
  </div>
</li>
